

{% extends './base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending List</title>
    <!-- Link to the static CSS file -->
    <link rel="stylesheet" href="{% static 'spending/styles.css' %}">
</head>
<body>

    <div class="slider">
        <img src="static/spending/images/img1.jpeg" alt="img1" style="--pos: 1" />
        <img src="static/spending/images/img2.png" alt="img2"style="--pos: 2" />
        <img src="static/spending/images/img3.jpeg" alt="img3"style="--pos: 3" />
        <img src="static/spending/images/img4.jpeg" alt="img4"style="--pos: 4" />
        <img src="static/spending/images/img5.jpeg" alt="img5"style="--pos: 5" />


    </div>
<div class="container1">
    <h1>Welcome to the Spending Tracker</h1>
    <div class="spending-item">
        <p>Example Spending Entry</p>
    </div>
</div>
</body>
</html>
{% endblock %}