@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap');

/* Header */
header {
    background-color: #fff;
    color: #025032;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

header .logo {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;}

header .logo a {
    position: absolute;
    top: 50px;
    left: 35px;
    color: #025032;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
    position:relative;
    margin: 0.8rem;
    padding: 0;
    display: flex;
    font-weight: 600;
    font-size: 1.3rem;
}

header nav ul li {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #025032;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Dancing Script', cursive;}

header nav ul li a:hover {
    background-color: #ffb695;
}
/*Announcement section*/
.announcement-section {
    width: 100%;
    overflow: hidden; 
    background-color: #c8db81; 
    color: #0b0b0b;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    position: relative;
}

.announcement-content {
    display: inline-block;
    white-space: nowrap; /* Prevent line break */
    animation: scroll 3s linear infinite; /* Trigger scroll animation */
}

/* announcement animation */
@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* Move to the left */
    }
}


body, html {
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #3d3b3b;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; 
    padding: 20px;
}
a {
    text-decoration: none;
    color: #333;
}

.navbar {
    width: 95%;
    margin: 0 auto; 
    padding: 1px 0; 
}

.container {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.container1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.image-frame {
    width: 20px; 
    height: 20px; 
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.btn {
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 5px;
    background-color: #6c3baa; /* Updated */
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.on_the_go {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: hsl(0, 3%, 32%);
    text-align: center;
    padding: 20px;
    margin: 30px 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

h2 {
    color: #444;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #444;
}

h3:hover {
    color: #c78c06}

hr {
    border: none;
    height: 2px;
    background-color: #e5e5e5;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: #e5e5e5;
    padding: 20px 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
footer p {
    margin: 0;
    padding: 0;
}

footer .socials {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

footer .socials li {
    display: inline-block;
    margin: 0 10px;
}

footer .socials li a {
    color: #e5e5e5;
    transition: color 0.3s ease;
}

footer .socials li a:hover {
    color: #f2961d;
}

.footerx .footerx_elements {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

.footerx {

        background-color: #ffb695;
        color: #ddd;
        padding: 20px 0;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    
.footerx p {
        margin: 0;
        padding: 0;
    }
    


.footerx .footerx_elements li {
    display: inline-block;
    margin: 0 10px;
}

.footerx .footerx_elements li a {
    color: #3b3b3b;
    transition: color 0.3s ease;
}

.footerx .footerx_elements li a:hover {
    color: #f2961d;
}

:root {
    --item-count: 5;
    --width: 370px;
    --height: 400px;
    --duration: 8s;
}

.slider {
    width: 100%;
    height: var(--height);
    position: relative;
    overflow: hidden;
}

.slider img {
    position: absolute;
    width: var(--width);
    height: var(--height);
    object-fit: contain;
    left: 100%;
    animation: autoRunSlider var(--duration) linear infinite;
    filter: grayscale(0);
    animation-delay: calc((var(--pos) - 1) * (var(--duration) / var(--item-count)));
}

.slider:hover img {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

@keyframes autoRunSlider {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}
